@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html {
    font-size: 16px;
}


/* Redimensión de fuente utilizando rem */

p {
    font-size: 150%;
    color: white;
    padding-left: 5%;
}

.fuente {
    font-size: 220%;
    text-align: center;
}

.titulo {
    background-image: url('../img/banner.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 {
    height: 100%;
    width: 100%;
}

.datospersonales {
    background-color: black;
    color: white;
    margin: 0%;
}

.h1 {
    font-size: 360%;
    padding-left: 20%;
}

.p1 {
    font-size: 150%;
    padding-left: 20%;
}

.p2 {
    text-align: center;
}

.imgc1 {
    height: 70%;
    width: 70%;
    display: block;
    margin: auto;
    padding-bottom: 10%;
}

.col3 {
    padding-top: 0%;
    background-color: black;
    color: white;
}

.h4 {
    font-size: 300%;
    padding-left: 5%;
}

.p4 {
    font-size: 220%;
    color: white;
}

.p5 {
    color: white;
    padding-left: 20%;
    font-size: 15px;
}

.abajo {
    vertical-align: top;
}

.imgc3 {
    height: 100%;
    width: 100%;
}

.h2 {
    text-align: center;
    font-size: 300%;
    margin: 0;
}

.fondo {
    background-color: black;
    color: white;
    margin: 0%;
}

.img4 {
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
}

.h6 {
    font-size: 320%;
    text-align: center;
}


/**************************/


/* clases predefinidas */

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

.fondo2 {
    background-color: black;
}

.p3 {
    color: white;
    padding-left: 20%;
    font-size: 15px;
}

.p4 {
    color: black;
    padding-left: 5%;
    font-size: 200%;
}

.p6 {
    font-size: 150%;
    text-align: center;
    padding-top: 5%;
    color: black;
    background-color: white;
}

.fondo3 {
    background-color: white;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.section0 {
    background-color: white;
}

.section1 {
    background-color: #F5EEF5;
}

.section2 {
    background-color: #faf5f3;
}

.section3 {
    background-color: #f2f9f8;
}

.section4 {
    background-color: #000;
    color: white;
}

.negrita {
    font-weight: bold;
}

h1 {
    color: darkcyan;
    font-weight: bold;
}

.negrita {
    font-weight: bold;
}

h2 {
    color: grey;
}

img {
    border-radius: 10px;
}


/* Diseño de columnas */

.column-1 {
    width: 100%;
    float: left;
    margin-top: -4px;
}

.title2 {
    background-color: blue;
    margin-top: -4px;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}

.colegio1 {
    width: 50vw;
    height: 350px;
}

.colegio2 {
    width: 50vw;
    height: 350px;
}

.act1 {
    width: 50vw;
    height: 350px;
}

.act2 {
    width: 50vw;
    height: 350px;
}

.act3 {
    width: 50vw;
    height: 350px;
}


/* Otras clases */


/* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    /* column-2 pasará de tener 50% a 100% */
    .column-2 {
        width: 100%;
    }
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
    .titulo {
        font-size: 350%;
    }
    .h1 {
        padding: 5%;
        font-size: 340%;
    }
    .p1 {
        padding: 5%;
        font-size: 260%;
    }
    .h2 {
        padding: 5%;
    }
    .h4 {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 310%;
    }
    .p4 {
        padding-left: 10%;
        padding-right: 10%;
        color: black;
    }
    .img4 {
        margin-top: -4px;
    }
    .p3 {
        font-size: 160%;
    }
    .p4 {
        font-size: 220%;
    }
    .p5 {
        font-size: 160%;
        padding-left: 10%;
    }
    .flex {
        display: block;
    }
}